.body {
    /* margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    /* min-height: 100vh; */
    /* display: grid; */
    /* place-content: center;
    text-align: center;   */
    width: 100%;
}

/* Introduction.css */


.container {
    /* position: relative; */
    background-color: rgb(6, 7, 73);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120px;
    font-weight:800;
    height: 100vh;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    letter-spacing: -0.03em;
    line-height: 0.9em;
    padding: 0;
    margin: 0;
}
.introduction { 
    /* display: flex;
    overflow: hidden; */
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.one {
    /* font-weight: 900;
    animation-delay: 1s;
    opacity: 0; */
    animation: fadeout 2s linear forwards; 
    transform: translateY(600%)
                translateX(-4%);
                /* text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(0, 0, 97),
      0 0 82px rgb(0, 0, 97),
      0 0 92px rgb(0, 0, 97),
      0 0 102px rgb(0, 0, 97),
      0 0 151px rgb(0, 0, 97); */
}
.two {
     opacity:0;
    animation: fadeout 2s linear forwards; 
    animation-delay: 2.3s;
    transform: translateY(390%) translateX(-2%); 
    /* background-image: url("Persevererr.png"); */
}
.three {
    opacity:0;
    animation: fadeout 2s linear forwards;
    animation-delay: 4.5s ;
    transform: translateY(180%) translateX(-4%);
}
.four {
    /* opacity:0; 
    animation: fadeout 700ms linear forwards;
    animation-delay: 3.1s ; */
    /* position: absolute; */
}
 .img1 {
    animation: fadeoutimg 2s linear forwards;
    opacity: 0;
    transform: translateY(-40%) translateX(-3%);
    height: 400px;
}

.img3 {
    animation: fadeoutimg 2s linear forwards; 
    opacity: 0;
    animation-delay: 4.5s;
    transform: translateY(-150%) translateX(20%);
    height: 500px;
}

.after-intro{
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}
.four {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120px;
    font-weight:800;
    transform: translateX(-4%) translateY(256%);
    animation: fadeoutimg 2s linear forwards; 
    opacity: 0;
    animation-delay: 7s;
    text-shadow:
    0 0 10px #fff,
    0 0 10px #fff,
    0 0 3px #fff,
    0 0 4px rgb(0, 0, 97),
    0 0 5px rgb(0, 0, 97),
    0 0 6px rgb(0, 0, 97),
    0 0 7px rgb(0, 0, 97),
    0 0 10px rgb(0, 0, 97);
}

.five {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120px;
    font-weight:800;
    transform: translateX(-4%) translateY(145%);
    animation: fadeoutimg 2s linear forwards; 
    opacity: 0;
    animation-delay: 8.5s;
    
}
.img4 {
    height: 500px;
    transform: translateX(-23%) translateY(-65%);
    animation: fadeoutimg 2s linear forwards; 
    opacity: 0;
    animation-delay: 8.5s;
}
@keyframes fadeout {
    0% {
        opacity:1;
      }
      100% {
        opacity:0;
      }
    }
@keyframes fadeoutimg {
        0% {
            opacity:0.8;
          }
          100% {
            opacity:0;
          }
        }
.picture img{
    margin-top: 9vw;
    margin-right: 10vw;
    width: 30vw;
    background-color: whitesmoke;
    height: 45vw;
}

/* About.css */

.about-container {
    display: flex;
    background-color: rgba(3, 4, 87, 0.99);
}
.about-intro {
    margin-left: 12vw;
}
.about-intro h1{
    font-family:'Scope One',sans-serif;
    font-size: 50px;
    margin-top: 20vw;
    font-weight: 400;
    color:whitesmoke;
    margin-bottom: 15px;
    line-height: 62px;
    font-stretch: 100%;
    letter-spacing: -1.41px;
    line-height: 42.3px;
}
.about-intro p {
    margin-top: 20px;
    font-size: 18px;
    width: 47vw; 
    font-family: 'Scope One',sans-serif;
    color: white; 
    font-weight: 400; 
    line-height: 28px; 
}
.picture img{
    margin-top: 9vw;
    margin-right: 10vw;
    width: 30vw;
    background-color: whitesmoke;
    height: 45vw;
}
/* Projects.css */
.project-container {
    background-color: rgba(0, 0, 255, 0.897);
    height:1410px;
    background-image: linear-gradient(rgba(0,0,255,.5), rgba(0,0,255, 0.2)),url("Project.png");
    background-repeat: no-repeat;
    background-position: 450px 170px;
    background-size: 500px 500px;
    /* padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%; */
}
.project-info h1{
    transform: translateX(27%) translateY(600%);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 200px;
    font-weight: 400;
    color: white;
    line-height: 62px;
    letter-spacing: -6px;
}
.rmi-header {
    color: white ;
    font-weight: 400;
    font-size: 100px;
    transform: translateX(20%) translateY(500%);
}
/* @keyframes fadeInUp {
    from {opacity: 0;}
    to {opactiy: 1;
    transform: translateY(0)}
} */

/* Sports.css */
.sports-bg {
    background-color:white;
}
.sports-bg hr {
    border-top: 1px solid black;
}
.sports-header  h1{
    font-family:'Scope One',sans-serif;
    font-size: 3vw;
    margin-left: 12vw;
    font-weight: 300;
    color: #1a1b1f;
    margin-bottom: 15px;
    font-size: 44px;
    line-height: 62px;
}
.sports-header p {
    margin-left: 12vw;
    width: 70vw;
    font-weight: 400;
    line-height: 28px;
}
.mvp-container {
    display: flex;
}

.mvp-info p {
    margin-right: 10vw; 
    width: 42vw;
    line-height: 28px;
    margin-top: 10vw;
    font-size: 18px; 
    font-family: 'Scope One',sans-serif;
    color:#686565; 
    font-weight: 400; 
    margin-left: 2vw;
}

.mvp-pic img {
    margin-left: 12vw;
    width: 35vw;
    height: 22vw;
} 

.soty-container {
    display: flex;
}
.soty-info p {
    margin-left: 12vw;
    width: 41.5vw;
    line-height: 28px;
    margin-top: 10vw;
    font-size: 18px; 
    font-family: 'Scope One',sans-serif;
    color:#686565; 
    font-weight: 400; 
}

.soty-pic img {
    margin-right: 10vw;
    width: 37vw;
    height: 25vw;
} 

.ec-bg {
    background-color: rgb(245, 229, 7, 0.1);
}
.ec-bg hr {
    border-top: 1px solid red;
    border-top: 1px solid black;
}

.ec-header  h1{
    font-family:'Scope One',sans-serif;
    font-size: 3vw;
    margin-left: 12vw;
    font-weight: 300;
    color: #1a1b1f;
    margin-bottom: 15px;
    font-size: 44px;
    line-height: 62px;
}
.atp-container {
    display: flex;
}

.atp-info p {
    margin-right: 10vw; 
    width: 42vw;
    line-height: 28px;
    margin-top: 6vw;
    font-size: 18px; 
    font-family: 'Scope One',sans-serif;
    color:#686565; 
    font-weight: 400; 
    margin-left: 2vw;
}

.atp-pic img {
    margin-left: 12vw;
    width: 37vw;
    height: 24vw;
} 

.yt-container {
    display: flex;
}
.yt-info p {
    margin-left: 12vw;
    width: 41vw;
    line-height: 28px;
    margin-top: 9vw;
    font-size: 18px; 
    font-family: 'Scope One',sans-serif;
    color:#686565; 
    font-weight: 400;
    padding-right: 2vw; 
}

.yt-img img {
    width: 39.5vw;
    height: 27vw;
    margin-right: 10vw;
   
} 